
template/template.aux
template/template.fdb_latexmk
template/template.fls
template/template.log
template/template.out
template/template.synctex.gz
template/template.toc
.vscode
.vscode/** */
template.log
*.aux
*.toc
